* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 18px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-weather,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#workspaces,
#tray,
#custom-power_btn,
#custom-lock_screen,
#backlight {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin-top: 10px;
}

/* close to left */
#backlight, #custom-light_dark, #clock {
  border-radius: 10px 0px 0px 10px;
  margin-left: 13px;
}

/*close to the right */
#custom-power_btn, #custom-weather, #battery { 
  border-radius: 0px 10px 10px 0px;
  margin-right: 13px
}

#tray {
  border-radius: 10px;
}

#workspaces {
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 0px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #f17d35;
}

#pulseaudio {
  color: #40a9dd;
}

#battery {
  color:  #a6e3a1;
}

